@using BitCI.Context
@model BitCI.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Belongs to Dashboard
        </dt>

        @{
            var db = new ServerContext();
            for (int step = 0; step < db.Dashboards.Count(); step++)
            {
                if (db.Dashboards.ToArray()[step].Id.Equals(Model.Id))
                {
                    <dd>@db.Dashboards.ToArray()[step].Name</dd>
                }
            }
        }

        <dt>
            Project @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
