@using BitCI.Context
@model BitCI.Models.Dashboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Projects)
        </dd>
        @{
            var db = new ServerContext();
            for (int step = 0; step < db.Projects.Count(); step++)
            {
                if (db.Projects.ToArray()[step].DashboardId.Equals(Model.Id))
                {
                    <dt> - </dt>
                    <dd>@db.Projects.ToArray()[step].Name</dd>
                }
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
